<footer>
        <div class="footer-mobile">
            <img id="logo" src="{{ asset('images/const/o-coffee-withoutBG.png') }}" alt="Representation du logo O-eefoC">
            <p>eefoc</p>
        </div>


        <div class="footer-desktop">
            <img id="logo" src="{{ asset('images/const/o-coffee-withoutBG.png') }}" alt="Representation du logo O-eefoC">
            <p>eeffoc</p>
        </div>
</footer>
