@import '../../node_modules/bootstrap/scss/bootstrap';


//Pallette couleur
// Marron
$marron0: #FFD4BC;
$marron1: #D87F4D;
$marron2: #B55B29;
$marron3: #87390E;
$marron4: #411a04;
$marron5: #260f01;
// Bleu



$blue1: #B4E2FB;
$blue2: #5ABDF2;
$blue3title: #3A98B9;
$blue4: #1A6289;
$blue5: #113C54;
$blue6: #0E222D;


$greenSuccess: #36d511;
$blueBorder: #157061;


@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

//Font-family:
//Title
$title: 'Tilt Neon', cursive;
$text2: Consolas, serif;
$button1: "JetBrains Mono",monospace;
$textOne: Oswald, sans-serif;


