<section>
        <div class="section-mobile">
            {{ component('all_posts') }}
        </div>
        <div class="section-desktop">
            {{ component('all_posts') }}
        </div>
</section>
